<div class="c-card">

    {% if (input) %}
        <label for="card-{{ card.id }}" class="c-card__label">

            <input
                    type="{{ input.type }}"
                    name="{{ input.name }}"
                    value="{{ card.id }}"
                    id="card-{{ card.id }}"
                    class="c-card__input"
            >

            <div class="c-card__wrapper">

                <img
                        src="{{ card.image }}"
                        alt="card {{ card.name }}"
                        class="c-card__image"
                >

                <ul class="c-card__skills">
                    <li class="c-card__skill"><span class="c-card__highlight">intelligence:</span> {{ card.intelligence }}</li>
                    <li class="c-card__skill"><span class="c-card__highlight">force:</span> {{ card.force }}</li>
                    <li class="c-card__skill"><span class="c-card__highlight">velocity:</span> {{ card.velocity }}</li>
                    <li class="c-card__skill"><span class="c-card__highlight">resistance:</span> {{ card.resistance }}</li>
                    <li class="c-card__skill"><span class="c-card__highlight">fighting:</span> {{ card.fighting }}</li>
                    <li class="c-card__skill"><span class="c-card__highlight">power:</span> {{ card.power }}</li>
                    <li class="c-card__skill"><span class="c-card__highlight">overall:</span> {{ card.overall }}</li>
                </ul>

            </div>

        </label>
    {% else %}
        <div class="c-card__wrapper">

            <img
                    src="{{ card.image }}"
                    alt="card {{ card.name }}"
                    class="c-card__image"
            >

            <ul class="c-card__skills">
                <li class="c-card__skill"><span class="c-card__highlight">intelligence:</span> {{ card.intelligence }}</li>
                <li class="c-card__skill"><span class="c-card__highlight">force:</span> {{ card.force }}</li>
                <li class="c-card__skill"><span class="c-card__highlight">velocity:</span> {{ card.velocity }}</li>
                <li class="c-card__skill"><span class="c-card__highlight">resistance:</span> {{ card.resistance }}</li>
                <li class="c-card__skill"><span class="c-card__highlight">fighting:</span> {{ card.fighting }}</li>
                <li class="c-card__skill"><span class="c-card__highlight">power:</span> {{ card.power }}</li>
                <li class="c-card__skill"><span class="c-card__highlight">overall:</span> {{ card.overall }}</li>
            </ul>

        </div>
    {% endif %}

</div>