{% extends "template/layout.html.twig" %}

{% block content %}
    <form action="http://localhost/cardGame/create/card-collection" method="post">
        <div class="card-group">
            {% for card in cards %}
    
                <div class="card-item">
                    <input type="checkbox" name="card-collection[]" id="{{ card.id }}" value="{{ card.id }}">
                    <label for="{{ card.id }}">
                        <img src="{{ card.image }}" alt="card-image">
                        <ul>
                            <li><span>name:</span> {{ card.name }}</li>
                            <li><span>intelligence:</span> {{ card.intelligence }}</li>
                            <li><span>force:</span> {{ card.force }}</li>
                            <li><span>velocity:</span> {{ card.velocity }}</li>
                            <li><span>resistance:</span> {{ card.resistance }}</li>
                            <li><span>fighting:</span> {{ card.fighting }}</li>
                            <li><span>power:</span> {{ card.power }}</li>
                            <li><span>overall:</span> {{ card.overall }}</li>
                        </ul>
                    </label>
                </div>
            
            {% endfor %}

        </div>

        <button type="submit">Start</button>
    </form>

{% endblock content %}