{% extends "templates/layout.html.twig" %}

{% block content %}

    {% embed "templates/message.html.twig" with {
        'title': 'Chegou a hora !',
        'content': 'Você não sabe quem irá enfrentar !
            Escolha com sabedoria o heroi que irá batalhar a favor da sua equipe.'
    }%}{% endembed %}

    <form action="{{ route.urlFor('toBattle') }}" method="post">
        <div class="card-group">
            {% for card in battle.playerCardCollection %}
                <div class="card-group-container">

                    <input type="radio" name="card-to-battle" data-card-id="{{ card.id }}"
                        value="{{ card.id }}">

                    <div data-card-id="{{ card.id }}" class="card-group-item">
                        <img src="{{ card.image }}" alt="card {{ card.name }}">
                        <ul>
                            <li><span>name:</span> {{ card.name }}</li>
                            <li><span>intelligence:</span> {{ card.intelligence }}</li>
                            <li><span>force:</span> {{ card.force }}</li>
                            <li><span>velocity:</span> {{ card.velocity }}</li>
                            <li><span>resistance:</span> {{ card.resistance }}</li>
                            <li><span>fighting:</span> {{ card.fighting }}</li>
                            <li><span>power:</span> {{ card.power }}</li>
                            <li><span>overall:</span> {{ card.overall }}</li>
                        </ul>
                    </div>

                </div>
            {% endfor %}
        </div>

        <button type="submit" class="button primary my-10 mx-auto">To Battle</button>
    </form>

    <div class="card-group">
        {% for card in battle.machineCardCollection %}
            <div class="card-group-container">

                <div class="card-group-item">
                    <img src="{{ card.image }}" alt="card {{ card.name }}">
                    <ul>
                        <li><span>name:</span> {{ card.name }}</li>
                        <li><span>intelligence:</span> {{ card.intelligence }}</li>
                        <li><span>force:</span> {{ card.force }}</li>
                        <li><span>velocity:</span> {{ card.velocity }}</li>
                        <li><span>resistance:</span> {{ card.resistance }}</li>
                        <li><span>fighting:</span> {{ card.fighting }}</li>
                        <li><span>power:</span> {{ card.power }}</li>
                        <li><span>overall:</span> {{ card.overall }}</li>
                    </ul>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock content %}